<div class="container">
    <div class="card">
        <div class="card-header">
          Administrador
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Libros</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a [routerLink] ="['/libros']" class="btn btn-primary">Ver</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_960_720.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Clientes</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a [routerLink] ="['/clientes']" class="btn btn-primary">Ver</a>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
</div>
